# Basic Select Statements

## Select Employees

In [2]:
/* Employee Table */

SELECT TOP (1000) [EmployeeID]
      ,[Employee Name]
      ,[Employee Surname]
      ,[OfficeCountry]
      ,[Office Team]
  FROM [Test1].[dbo].[Employees$]

EmployeeID,Employee Name,Employee Surname,OfficeCountry,Office Team
1,David,Bell,USA,Team Astrid
2,Andy,Brad,USA,Team Astrid
3,Jane,Bindley,USA,Team Zed
4,Margaret,Roche,USA,Team Zed
5,Kim,Hanks,UK,Team Astrid
6,Michael,Thompson,UK,Team Merlin
7,Rita,Hughes,UK,Team Merlin
8,Alex,Mendoza,USA,Team Zed
9,Sandeep,Sobit,UK,Team Merlin

## CTE Products

In [ ]:
WITH CategoriesProduct as(
SELECT sb.Name, sb.ProductSubcategoryID, pr.Class, pr.Color, pr.ListPrice 
FROM Production.Product pr, Production.ProductSubcategory sb
WHERE
pr.ProductSubcategoryID = sb.ProductSubcategoryID
)
select Name, Class, Color, ListPrice
FROM CategoriesProduct
WHERE
CategoriesProduct.ListPrice > 200
ORDER BY ListPrice ASC